openapi: 3.0.0
info:
  version: 1.0.0
  title: Redemption API
  description: |
    API to manage the redemption process.

servers:
  - url: http://my-webcite.com/
    description: API server

tags:
- name: redemption
  description: When a customer decides to redeem a specific points, they initiate the redemption process.
  x-displayName: redemption
x-tagGroups:
- firstName: redemption
  tags:
    - redemption

paths:
  /v1/redemption/hold:
    post: 
      summary: Reservar puntos
      description: 
        put on hold a specific points of redemption
      operationId: postOnholdRedemption
      tags:
        - redemption
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/redemptionOnHoldRequest"
      responses:
        '200':
          description: |
            apply on hold points
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: 
                    $ref: "#/components/schemas/redemptionOnHoldResponse"
        '400':
          description: Badly formed request, required parameters are missing or there is an error in the protocol
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                transactionId_exists:
                  value:
                    status: 400
                    message: Hold id with specified transactionId already exist
                error_value_cash:
                  value:
                    status: 400
                    message: The TotalCash should be greather or equals than TotalCashWithPoints
                format_error:
                  value:
                    status: 400
                    message: Invalid ...
        '404':
          description: The requested resource could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                customer_not_found:
                  value:
                    code: 404
                    message: The client does not exist
                
        '500':
          description: error given when an unexpected condition was encountered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal_server_error:
                  value:
                    status: 500
                    message: Internal server error     

  /v1/redemption/hold/{id}/{applyRedemption}:
    put: 
      summary: Aplicar redención
      description: 
        put off hold or applay the redemption
      operationId: postoffholdRedemption
      tags:
        - redemption
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: 126e4567-e89b-12d3-a456-426655440099
        - name: applyRedemption
          in: path
          required: true
          schema:
            type: boolean
            example: false
      responses:
        '200':
          description: apply on hold points
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: 
                    $ref: "#/components/schemas/redemptionOffHoldResponse"
        '400':
          description: Badly formed request, required parameters are missing or there is an error in the protocol
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad_request:
                  value:
                    status: 400
                    message: HoldId identifier was burned
                format_error:
                  value:
                    status: 400
                    message: Invalid ...
                
        '404':
          description: The requested resource could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                hold_not_found:
                  value:
                    status: 404
                    message: Hold identifier does not found
        '500':
          description: error given when an unexpected condition was encountered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal_server_error:
                  value:
                    status: 500
                    message: Internal server error         

components:
  schemas:

#    Objects of onhold
    redemptionOnHoldRequest:
      type: object
      required:
        - customer
        - onHold
      properties:
        customer:
          type: object
          required:
          - id
          properties:
            id:
              type: string
              description: Id of the customer
              example: AAA111
        onHold:
          type: object
          required:
          - totalCash
          - totalCashWithPoints
          - pricePlanId
          - policyPlanId
          - transactionId
          - expirationDate
          - dateAt
          properties:
            totalCash:
              type: number
              description: total value of the reservation on pesos
              example: 500
            totalCashWithPoints:
              type: number
              description: total/partial value in pesos
              example: 500
            pricePlanId:
              type: string
              description: Id of price plans used in a transaction
              example: gold
            policyPlanId:
              type: string
              description: Id of policy plans used in a transaction
              example: medium_rate
            transactionId:
              type: string
              format: uuid
              description: id of the transaction
              example: 123e4567-e89b-12d3-a456-426655440000
            expirationDate:
              type: string
              description: expiration date of the reservation
              example: '2023-12-01'
            dateAt:
              type: string
              description: date of the reservation
              example: "2023-11-01"
  
    redemptionOnHoldResponse:
      type: object
      properties:
        customer:
          type: object
          properties:
            id:
              type: string
              description: Id of the customer
              example: AAA111
        mainBalance:
          type: object
          properties:
            pointsAvailable: 
              type: number
              description: total points available
              example: 950
            pointOnHold:
              type: number
              description: total points burned in this transaction
              example: 50
            expirationDate:
              type: string
              example: "2024-12-31"
              description: expiration date of point
            
        hold:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: id of on hold point
              example: 6e3ef2ce-98d5-4723-a35f-79d88688d6dd
            transactionId:
              type: string
              format: uuid
              description: id of the transaction
              example: 123e4567-e89b-12d3-a456-426655440000
            totalCash:
              type: number
              description: total value in pesos
              example: 500 
            totalCashWithPoints:
              type: number
              description: partial value in pesos of total value
              example: 500
            penaltyPoints:
              type: number
              description: points by penalty
              example: 0 
            points:
              type: number
              description: points on hold
              example: 50
            pricePlanId:
              type: string
              description: Id of price plans used in a transaction
              example: gold
            policyPlanId:
              type: string
              description: Id of policy plans used in a transaction
              example: medium_rate
            expirationDate:
              type: string
              description: expiration date of the reservation
              example: 2023-12-01
              format: date
              pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/
            dateAt:
              type: string
              description: date of the reservation
              example: 2023-11-01
              format: date
              pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/
    


    redemptionOffHoldResponse:
      type: object
      properties:
        customer:
          type: object
          properties:
            id:
              type: string
              description: Id of the customer
              example: AAA111
        mainBalance:
          type: object
          properties:
            pointsAvailable: 
              type: number
              description: total points available
              example: 993
            pointOnHold:
              type: number
              description: total points burned in this transaction
              example: 0
            expirationDate:
              type: string
              format: date
              example: 2024-12-31
              description: expiration date of point
            
        hold:
          type: object
          properties:
            id:
              type: string
              description: id of on hold point
              example: 6e3ef2ce-98d5-4723-a35f-79d88688d6dd
              format: uuid
            transactionId:
              type: string
              description: id of the transaction
              example: 123e4567-e89b-12d3-a456-426655440000
              format: uuid
            totalCash:
              type: number
              description: total value in pesos
              example: 500 
            totalCashWithPoints:
              type: number
              description: partial value in pesos of total value
              example: 500
            penaltyPoints:
              type: number
              description: points by penalty
              example: 7 
            points:
              type: number
              description: points on hold
              example: 50
            pricePlanId:
              type: string
              description: Id of price plans used in a transaction
              example: gold
            policyPlanId:
              type: string
              description: Id of policy plans used in a transaction
              example: medium_rate
            expirationDate:
              type: string
              format: date
              description: expiration date of the reservation
              example: 2023-12-01
            dateAt:
              type: string
              format: date
              description: date of the reservation
              example: 2023-11-01
    
    
# Common error response
    ErrorResponse:
      type: object
      properties:
        status:
          type: number
        message:
          type: string